[submodule "engine"]
	path = engine
	url = git@github.com:Monibuca/engine
[submodule "plugin-debug"]
	path = plugin-debug
	url = git@github.com:Monibuca/plugin-debug
[submodule "plugin-hdl"]
	path = plugin-hdl
	url = git@github.com:Monibuca/plugin-hdl
[submodule "plugin-hls"]
	path = plugin-hls
	url = git@github.com:Monibuca/plugin-hls
[submodule "plugin-jessica"]
	path = plugin-jessica
	url = git@github.com:Monibuca/plugin-jessica
[submodule "plugin-logrotate"]
	path = plugin-logrotate
	url = git@github.com:Monibuca/plugin-logrotate
[submodule "plugin-rtmp"]
	path = plugin-rtmp
	url = git@github.com:Monibuca/plugin-rtmp
[submodule "plugin-rtsp"]
	path = plugin-rtsp
	url = git@github.com:Monibuca/plugin-rtsp
[submodule "plugin-webrtc"]
	path = plugin-webrtc
	url = git@github.com:Monibuca/plugin-webrtc
[submodule "plugin-webtransport"]
	path = plugin-webtransport
	url = git@github.com:Monibuca/plugin-webtransport
[submodule "plugin-record"]
	path = plugin-record
	url = git@github.com:Monibuca/plugin-record
[submodule "plugin-hook"]
	path = plugin-hook
	url = git@github.com:Monibuca/plugin-hook
[submodule "plugin-room"]
	path = plugin-room
	url = git@github.com:Monibuca/plugin-room
[submodule "monibuca"]
	path = monibuca
	url = git@github.com:langhuihui/monibuca
[submodule "plugin-gb28181"]
	path = plugin-gb28181
	url = git@github.com:Monibuca/plugin-gb28181
[submodule "plugin-preview"]
	path = plugin-preview
	url = git@github.com:Monibuca/plugin-preview
[submodule "plugin-snap"]
	path = plugin-snap
	url = git@github.com:Monibuca/plugin-snap
[submodule "plugin-edge"]
	path = plugin-edge
	url = git@github.com:Monibuca/plugin-edge
[submodule "plugin-exporter"]
	path = plugin-exporter
	url = git@github.com:Monibuca/plugin-exporter
[submodule "plugin-fmp4"]
	path = plugin-fmp4
	url = git@github.com:Monibuca/plugin-fmp4
[submodule "plugin-monitor"]
	path = plugin-monitor
	url = git@github.com:Monibuca/plugin-monitor