go 1.21

use (
	./engine
	./monibuca
	./plugin-debug
	./plugin-fmp4
	./plugin-gb28181
	./plugin-hdl
	./plugin-hls
	./plugin-hook
	./plugin-jessica
	./plugin-logrotate
	./plugin-monitor
	./plugin-preview
	./plugin-ps
	./plugin-record
	./plugin-room
	./plugin-rtmp
	./plugin-rtsp
	./plugin-snap
	./plugin-webrtc
	./plugin-webtransport
)
